body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/*--   heder  --*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color: #404bbf;
}

/*--  section titel  --*/

.title-box {
  padding: 188px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  max-width: 1440px;
}

.title-box {
  display: flex;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}

.page-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-button {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
  border: 0;
}

.page-button:hover,
.page-button:focus {
  background-color: #404bbf;
}

/*--  section list  --*/

.list {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-container {
  display: flex;
}

.list-board {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.list-icons {
  display: flex;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.list-item {
  box-sizing: border-box;
  flex-basis: calc((100% - 72px) / 4);
}

/*--  section team  --*/

.team {
  background-color: #f4f4fd;
  /*height: 732px;*/
  padding: 120px 0;
}

.team-networks {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-networks-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-networks-link:hover,
.team-networks-link:focus {
  background-color: #404bbf;
}

.team-networks .icon-networks {
  fill: #f4f4fd;
}

.team-block-titel {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  justify-content: center;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}

.team-workers {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  align-items: center;
}

/*.team-position {
  display: inline-flex;
  flex-direction: column;
  --- text-align: center; ---
  padding-bottom: 8px;
}*/

.team-text {
  margin-bottom: 8px;
}

.page-button:hover,
.page-button:focus {
  background-color: #404bbf;
}

.list-subtitel,
.team-subtitel,
.portfolio-subtitel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.list-text,
.team-text,
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-block,
.portfolio-block {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-list .team-item {
  background-color: #fff;
}

/*--  section portfolio  --*/

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-container {
  min-height: 1000px;
}

.portfolio-block {
  margin-bottom: 72px;
}

.portfolio-blok-board {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 48px) / 3);
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-item .portfolio-overlay {
  padding: 8px;
  background-color: #4d5ae5;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-item:hover .portfolio-overlay,
.portfolio-overlay-item:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-overlay-item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-item:hover,
.portfolio-overlay-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-position {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  width: 360px;
}

.portfolio-img {
  align-self: stretch;
}

/*--  section footer  --*/

.footer-box {
  padding: 100px 0;
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
  margin: 0 auto;
}

.page-footer {
  display: flex;
  align-items: baseline;
}

.container .footer-container {
  margin-right: 120px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  box-sizing: content-box;
  max-width: 264px;
}

.logo {
  display: inline-block;
}

.footer-logo .logo-part {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer-networks {
  display: flex;
}

.footer-text-networks {
  display: inline-flex;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-networks {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-icon .icon-networks {
  fill: #f4f4fd;
}

.footer-subscribe {
  margin-left: 80px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-subscribe-text {
  font: 500 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  min-width: 264px;
  height: 40px;
  border: 1px solid #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  /*margin: 0;
  padding: 0;*/
  font: 400 12px / 2 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
}

.footer-input:hover,
.footer-input:focus {
  border: 1px solid #31d0aa;
}

.footer-input::placeholder {
  font: 400 12px / 2 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: #fff;
  /*margin-left: 16px;*/
  /*padding-left: 16px;*/
}

.footer-button {
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  font: 500 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  margin-left: 24px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
}

.footer-button:hover,
.footer-button:focus {
  background-color: #31d0aa;
}

.icoms-telegram {
  fill: #fff;
  margin-left: 16px;
}

/*--  backdrop  --*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;

  width: 408px;
  min-height: 584px;
  border-radius: 4px;

  transform: translate(-50%, -50%);

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(is-open) .modal {
  transform: translate (-50%, -100%);
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  line-height: 0;
  fill: #2e2f42;
  background-color: #e7e9fc;
  border-radius: 50%;
  transition-property: background-color, border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  fill: #fff;
  background-color: #404bbf;
  border: none;
}

.modal-text {
  font: 500 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-container-block {
  margin-bottom: 8px;
}

/*form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}*/

/*.modal-form {
  gap: 24px;
}*/

.madal-form-label {
  display: block;
  margin-bottom: 4px;
  font: 400 12px / 1.17 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-input-cont {
  position: relative;
}

.modal-form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transform: translateY(-50%);
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.custom-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-right: 8px;
  fill: transparent;
}

.label-checkbox {
  cursor: pointer;
  font: 400 12px / 1.17 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
}

.label-checkbox a {
  font: 400 12px / 1.33 "Roboto", sans-serif;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.cont-user-text {
  margin-bottom: 16px;
}

.custom-checkbox {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.chekbox:checked + .label-checkbox .custom-checkbox {
  background-color: #404bbf;
  border: transparent;
  fill: #f4f4fd;
}

/*.modal-form-con-checkbox {
  margin-bottom: 24px;
}*/

.user-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  width: 360px;
  height: 120px;
  resize: none;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.user-comment:focus {
  border-color: #4d5ae5;
}

.user-comment::placeholder {
  font: 400 12px / 1.17 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-con-checkbox {
  margin-bottom: 24px;
}

.backdrop-btn {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font: 500 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  outline: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-btn:hover,
.backdrop-btn:focus {
  background-color: #404bbf;
}
